@use '/colors' as c;

.header {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.luc {
    background-color: c.$primary;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    height: 23.9rem;
    border: 1px solid c.$white;
    width: 26.3rem;
    border-radius: 50%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    &:hover {
        background-color: c.$secondary;
        transition: .3s;
        cursor: pointer;
        box-shadow: 0 0 30px c.$white;
        border: none;
    }
    p{
        width: 50rem;
        text-align: center;
        margin-top: 18rem;
        color: c.$white;
        font-size: 1.2rem;
        background-color: c.$primary;
        padding: 1.5rem 1.5rem 1.5rem 4.5rem;
        position: absolute;
        margin-left: 73rem;
        border-radius: 10px;
        font-style: italic;
        clip-path: polygon(7% 0, 100% 0%, 100% 100%, 7% 100%, 7% 45%, 0 27%, 7% 30%);
    }
    button {
        text-align: center;
        background-color: c.$primary;
        border-radius: 20px;
        padding: .5rem 0;
        width: 20rem;
        color: c.$white;
        margin-top: 2rem;
        border: none;
        box-shadow: 0 0 5px c.$white;

        &:hover {
            background-color: c.$secondary;
            transition: .3s;
            color: c.$dark;
            animation: none;
        }
    }
}

.img-lu {
    width: 26.4rem;
    border-radius: 50%;
    object-fit: cover;
}

@media(max-width:1080px) {
    .header {
        flex-direction: column-reverse;
        padding: 1rem;
    }

    .luc {
        height: 14.5rem;
        width: 15.5rem;
        margin: 2rem auto;
        p{
            width: 20rem;
            margin-top: 2rem;
            margin-left: 0;
            clip-path: none;
            padding: 1rem;
            font-size: 1rem;
            position: relative;
        }
        button {
            font-size: 1rem;
            width: 8rem;
        }
    }

    .img-lu {
        width: 15.9rem;
    }
}

/* NAV */

.flag {
    height: 3.5rem;
    display: block;
    margin: 0;
}


.nav-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.flag-btn {
    display: flex;
    gap: 2rem;
    button {
        background: none;
        border: none;
        filter: drop-shadow(0 0 1px c.$secondary);
        &:hover {
            filter: drop-shadow(0 0 10px c.$secondary);
            transition: .5s;
        }
    }
}
.cont-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

}

@media(max-width:1080px) {
    .nav-header {
        flex-direction: column;
    }

    .cont-header {
        gap: 0rem;
    }
}

/* title */
.text-header h1 {
    font-weight: 900;
    font-size: 5rem;
    margin-top: 3rem;
    width: 52rem;
    color: c.$white;
    -webkit-text-stroke: 1px c.$bubble1;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;

}
.char{
    transform: translateY(115px);
    transition: transform .5s;
}


.text-header button {
    background: none;
    border: none;
    margin-left: 20rem;
    margin-top: 5rem;
    position: absolute;
}

@media(max-width:1080px) {
    .text-header h1 {
        width: 23rem;
        margin: 2rem auto;
        line-height: 4rem;
        font-size: 3rem;
        text-align: center;
  
    }
    .text-header button {
        display: none;
    }

}

.text-header button img {
    width: 7rem;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  